# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# SQLite Database
*.db
*.sqlite
*.sqlite3

# PDF instructions
*.pdf

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
.venv/
env/
venv/

# IDE files
.vscode/
.idea/
